<template>
	<require from='./sub-component/sub-component'></require>
	<div class="demo">
		<div class="wrapper">
			<h2>${message}</h2>
			<button class="service-btn" click.delegate="callService()">Call Service</button>
		</div>
		<h2>${fromService}</h2>
		<label><input type="checkbox" checked.bind="showSub"> Show sub component</label><br/><br/>
		<sub-component if.bind="showSub" shared-value="some shared value"></sub-component>
	</div>
</template>