<template>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}">
					<a href.bind="row.href">${row.title}</a>
				</li>
	        </ul>
		</div>
	</nav>
</template>